* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  header {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, #000000, #00000080, transparent);
    nav {
      a.navbar-brand {
        img {
          width: auto;
          height: 110px;
          object-fit: contain;
        }
      }
      ul {
        li {
          padding-right: 20px;
          a {
            text-transform: uppercase;
          }
          &:last-child {
            color: #333;
            text-transform: uppercase;
            text-decoration: none;
            -webkit-transition: 0.5s;
            transition: 0.5s;
            font-family: "Rubik", sans-serif;
            background: white;
            border-radius: 0.4rem;
            -webkit-box-shadow: 2px 3px 10px #00000090;
            box-shadow: 2px 3px 10px #00000090;
            padding: 0rem 1rem;
            a {
              font-family: "Poppins", sans-serif;
              text-transform: uppercase;
              color: #fb0b0b !important;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  main {
    background-image: url("../img/Fondo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    min-width: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .titulo {
      position: relative;
      z-index: 4;
      text-align: center;
      h1 {
        color: #fff;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
      }
    }
    .overlay {
      background-color: #00000085;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
  section {
    padding: 7rem 0;
    background-color: #000000d6;
    background-blend-mode: darken;
    background-attachment: fixed;
    text-align: center;
    background-image: url(../img/Restaurantes/4A3A6079.jpg);
    &.restaurantes {
      background: #dedede;
      .titulo {
        padding-bottom: 4rem;
        text-align: center;
        h2 {
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 2.5rem;
          color: #000;
        }
      }
      .texto {
        text-align: left;
        border: 1px dashed #55555535;
        padding: 2.5rem;
        p {
          color: #333;
          text-align: justify;
          strong {
            color: #000;
          }
        }
        ul {
          text-align: left;
          padding-bottom: 1.65rem;
          padding-left: 0;
          border-bottom: 1px solid #55555530;
          &:last-child {
            border-bottom: none;
          }
          li {
            list-style: none;
            padding-bottom: 1.15rem;
            strong {
              font-weight: bolder;
              font-size: 1.25rem;
            }
          }
        }
      }
      .galeria {
        padding: 2.5rem;
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
    .titulo {
      padding-bottom: 2rem;
      text-align: center;
      h2 {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        span {
          font-weight: 100;
          font-size: 2rem;
        }
      }
    }
    .texto {
      p {
        font-size: 1.25rem;
        color: #dedede95;
        strong {
          color: #fff;
        }
      }
    }
  }
  footer {
    position: relative;
    width: 100%;
    padding: 3rem 0;
    background: #000;
    max-width: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
    .social {
      ul {
        display: flex;
        justify-content: center;
        li {
          list-style: none;
          margin-right: 1.2rem;
          a {
            height: 40px;
            width: 40px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            text-decoration: none;
            transition: 0.5s;
            &:hover {
              background-color: #333;
              i {
                color: #fff;
              }
            }
            i {
              font-size: 1.5rem;
              color: #333;
              transition: 0.5s;
            }
          }
        }
      }
    }
    .direccion {
      padding-top: 1.5rem;
      a {
        text-decoration: none;
        -webkit-text-decoration: none;
        -moz-text-decoration: none;
        h2 {
          color: #fff;
          letter-spacing: 0.25rem;
          text-transform: uppercase;
          font-size: 1rem;
          font-family: "Rubik", sans-serif;
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) and (min-width: 310px) {
  body {
    main {
      .logo {
        width: 350px;
        max-width: 100%;
        img {
          &:first-child {
            width: auto;
            height: 100px;
            left: 0rem;
          }
          &:nth-child(2) {
            width: 100%;
            height: 200px;
          }
        }
      }
    }
    footer {
      width: 100%;
      padding: 0 0.5rem;
    }
  }
}
