* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body header {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 90px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(#00000080), to(transparent));
  background: linear-gradient(to bottom, #000000, #00000080, transparent);
}

body header nav a.navbar-brand img {
  width: auto;
  height: 110px;
  -o-object-fit: contain;
     object-fit: contain;
}

body header nav ul li {
  padding-right: 20px;
}

body header nav ul li a {
  text-transform: uppercase;
  color: #fff;
}

body header nav ul li:last-child {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Rubik", sans-serif;
  background: white;
  border-radius: 0.4rem;
  -webkit-box-shadow: 2px 3px 10px #00000090;
  box-shadow: 2px 3px 10px #00000090;
  padding: 0rem 1rem;
}

body header nav ul li:last-child a {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fb0b0b !important;
  font-weight: bold;
}

body main {
  background-image: url("../img/Fondo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  overflow-y: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .titulo {
  position: relative;
  z-index: 4;
  text-align: center;
}

body main .titulo h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

body main .overlay {
  background-color: #00000085;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body section {
  padding: 7rem 0;
  background-color: #000000d6;
  background-blend-mode: darken;
  background-attachment: fixed;
  text-align: center;
  background-image: url(../img/Restaurantes/4A3A6079.jpg);
}

body section.restaurantes {
  background: #dedede;
}

body section.restaurantes .titulo {
  padding-bottom: 4rem;
  text-align: center;
}

body section.restaurantes .titulo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #000;
}

body section.restaurantes .texto {
  text-align: left;
  border: 1px dashed #55555535;
  padding: 2.5rem;
  height: 100%;
}

body section.restaurantes .texto p {
  color: #333;
  text-align: justify;
  font-size: 1.15rem;
}

body section.restaurantes .texto p strong {
  color: #000;
}

body section.restaurantes .texto ul {
  text-align: left;
  padding-bottom: 1.65rem;
  padding-left: 0;
  border-bottom: 1px solid #55555530;
}

body section.restaurantes .texto ul:last-child {
  border-bottom: none;
}

body section.restaurantes .texto ul li {
  list-style: none;
  padding-bottom: 1.15rem;
}

body section.restaurantes .texto ul li strong {
  font-weight: bolder;
  font-size: 1.25rem;
}

body section.restaurantes .galeria {
  padding: 2.5rem;
  margin-top: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

body section.restaurantes .galeria img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

body section .titulo {
  padding-bottom: 2rem;
  text-align: center;
}

body section .titulo h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body section .titulo h2 span {
  font-weight: 100;
  font-size: 2rem;
}

body section .texto p {
  font-size: 1.25rem;
  color: #dedede95;
}

body section .texto p strong {
  color: #fff;
}

body footer {
  position: relative;
  width: 100%;
  padding: 3rem 0;
  background: #000;
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  right: 0;
  z-index: 3;
  text-align: center;
}

body footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .social ul li {
  list-style: none;
  margin-right: 1.2rem;
}

body footer .social ul li a {
  height: 40px;
  width: 40px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body footer .social ul li a:hover {
  background-color: #333;
}

body footer .social ul li a:hover i {
  color: #fff;
}

body footer .social ul li a i {
  font-size: 1.5rem;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body footer .direccion {
  padding-top: 1.5rem;
}

body footer .direccion a {
  text-decoration: none;
  -webkit-text-decoration: none;
  -moz-text-decoration: none;
}

body footer .direccion a h2 {
  color: #fff;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 800px) and (min-width: 310px) {
  body main .titulo h1 {
    font-size: 2.2rem;
  }
  body main .logo {
    width: 350px;
    max-width: 100%;
  }
  body main .logo img:first-child {
    width: auto;
    height: 100px;
    left: 0rem;
  }
  body main .logo img:nth-child(2) {
    width: 100%;
    height: 200px;
  }
  body section.restaurantes .galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body footer {
    width: 100%;
    padding: 2.5rem 0.5rem;
  }
}
/*# sourceMappingURL=estilos.css.map */